#pacman-head {
    width: 50px;
    height: 50px;
}

.rotateUp {
    transform: rotate(-90deg);
}

.rotateRight {
    transform: rotate(0deg);
}

.rotateDown {
    transform: rotate(90deg);
}

.rotateLeft {
    transform: rotate(-180deg);
}